#about {

  span {
    margin: auto;
  }
  .blockquote {
    border-left-color: #9dc852; //default:
  }

  .pinello{
    background-color: #333;
  }
  .card-content {
    background-color: #333;
    border-radius: 0.375rem;
  }
.collection-item{
  background-color: black;
  padding-left: 10px !important;
}
.cardBlock {
  margin: auto;
  max-width: 940px;
  color: white;
}
.cardImage {
    margin: auto;
    display: inline-block;
    width: 250px;
    height: 250px;
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: polygons 4s alternate infinite;
  }
  
  @keyframes polygons {
    25% {
      clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
    }
    50% {
      clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
    }
    75% {
      clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
    }
  }
  
}