#desigN {
    min-height: 100vh;
    background-color:#333;

    .material-icons {
        filter: drop-shadow(2px 4px rgb(0, 0, 0));
    }

    #sneaker-component {

        .sfondo {
            background-image: url('../Images/sndes1.jpg');
            min-height: 853px;
        }
        h2 {
            font-family: 'Lato' , sans-serif;
            font-weight:300;
            letter-spacing: 1px;
        }
        /*===== RESET =====*/
         *,
        ::before,
        ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

        body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
 
        /*===== CARD =====*/
       .container {
        margin: auto;
        display: flex;
        align-items:center;
        justify-content:center;
        height: 100%;
        } 
         .card {
        position: relative;
        padding: 0.65rem;
        width: 350px;
        height: 350px;
        box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
        border-radius: 0.9rem;
        // background-color: #e33a26;
        background-color: #333;
        }
        @media (max-width: 575.98px) {
            .card {
                height: 250px;
            } 
            .product-info p {
                display: none;
            }
            .text-muted {
                display: none;
            }
        }
        @media (min-width: 575.98px) {
            .card {
                height: 280px;
            }
        }
        @media (min-width: 768px) {
            .card {
                height: 350px;
            }
        }
        
        .card-blue {
        background: #333;
        }

        .product-image {
        transform: translate(0, -1.5rem);
        transition: transform 500ms ease-in-out;
        filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
        }
        .product-info {
        text-align: center;
        }

        .card:hover .product-image {
        transform: translate(-1.5rem, -4rem) rotate(-10deg);
        }

        .product-info h2 {
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: 750;
        letter-spacing: 0.5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .product-info p {
        margin: 0.4rem;
        font-size: 0.8rem;
        font-weight: 700;
        text-shadow: 1px 1px black;
        }

/*         @media screen and (max-width: 800px) {

        .container {
            padding: 2rem 0;
            width: 100%;
            flex-direction: column;
            gap: 3rem;
            }
        }  */
        .carousel-root {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items:flex-start;
            background-color: rgba(71, 183, 19, 0);
            // box-shadow: 3px -3px 5px rgba(0,0,0,0.5);
        }
        
         .slider-wrapper {
            height: 100%;
        } 

        // .carousel-slider {
        //     min-height:100vh;
        // } 
        @media (max-width: 400.98px) {
            .carousel-root {
                max-height: 320px;
            }
        }
        @media (max-width: 575.98px) {
            .carousel-root {
                height: 400px;
            }
        }
        @media (min-width: 768px) {
            .carousel-slider {
                height: 70vh;
            }
        }
        @media (min-width: 992px) {
            .carousel-slider {
                height: 90vh;
            }
        }
        @media (min-width: 1400px) {
            .carousel-slider {
                min-height: 100%;
            }
        } 
        .slide {
            padding:0px 20px;
            margin-top: 20px;
            margin-bottom: 40px;
        } 
         div.carousel:first-of-type + div.carousel {
            display: none;
        } 
        .carousel-status {
            margin-right: 20px;
            margin-top: 0px;
        }
        button {
            margin: 20px;
        }
        .control-arrow {
            margin-left: 0px;
            margin-right: 0px;
            width: 15px;
            filter: drop-shadow(2px 4px rgb(0, 0, 0));
        }
        .control-arrow:hover {
            background-color: rgba(0, 0, 0, 0);
        }
        li.dot {
            margin-top: 30px;
        }
        .control-dots > li {
            margin: 7px;
            margin-bottom: 14px;
            padding-top: 14px;
            width: 14px;
            height: 14px;
            filter: drop-shadow(2px 4px rgb(0, 0, 0));
        }
        .carousel .control-next.control-arrow:before {
            border-left: 15px solid #fff;
        }
        .carousel .control-prev.control-arrow:before {
            border-right: 15px solid #fff;
        }
    }

}
