footer {
    max-width: 100vw;
    a {
        text-decoration: none;
        color: #0d6efd;
    }
    a:hover, .hover:hover {
        color: #0a58ca;
    }
    .hover {
        color:#0d6efd;
    }
    blockquote {
        border-color:#ff3c5a;
    }
}

