#mPlayer {

    .MuiPaper-root {
        margin-left: 0px !important;
        margin-right: 0px !important;
        min-width: 250px;
        opacity: 0.8;
    }
    .MuiSlider-rail, .MuiSlider-thumb {
        color: #0275d8;
    }
    .MuiSlider-track {
        color: white;
    }
    .smallInfo {
        font-size: 0.8rem;
    }
}


