#webProjects {

    background-color: black;
    height: 100vh;
    margin: 0 auto;

    #banner1 {
        
        top: 0%;
    }

    .laYer {
        min-height: 200px;
        max-height: 150px;
        background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
        background-position: center;
        background-size: 100%;
        margin-top: -45px !important;

        .inDice {
            font-size: 5rem;
        }
    }
}