#webProjects {


    background-color: black;
    margin: 0 auto;
    min-height: 100vh;

    .cd-words-wrapper {
      height: 55px;
    }
    .cd-headline, .subTT {
      filter: drop-shadow(2px 4px rgb(0, 0, 0));
    }

    .bannerWeb {
      .material-icons {
        filter: drop-shadow(2px 4px rgb(0, 0, 0));
      }
    }
    
    #folderC {
    /*page1 movement*/

    @-webkit-keyframes page1Movement {
    0% {top:0;}
    40% {top:-120px;}
     60% {top:-120px;left:15px;}
     61% {top:-120px;left:15px;z-index: 3;}
      80% {top:-120px;left:-80px;}
     100% {top:-120px;left:-80px;} 
    }
 
    @keyframes page1Movement {
    0% {top:0;}
    40% {top:-120px;}
     60% {top:-120px;left:15px;}
     61% {top:-120px;left:15px;z-index: 3;}
     80% {top:-120px;left:-80px;}
     100% {top:-120px;left:-80px;}
    }

    @-webkit-keyframes page1Movement1Q {
        0% {top:0;}
        40% {top:-120px;}
         60% {top:-120px;left:15px;}
         61% {top:-120px;left:15px;z-index: 3;}
          80% {top:-120px;left:-80px;}
         100% {top:-120px;left:-80px;} 
        }
     
        @keyframes page1Movement1Q {
        0% {top:0;}
        40% {top:-120px;}
         60% {top:-120px;left:15px;}
         61% {top:-120px;left:15px;z-index: 3;}
         80% {top:-120px;left:-80px;}
         100% {top:-120px;left:-80px;}
        }
 
    /*page2 movement*/
 
    @-webkit-keyframes page2Movement {
    0% {top:0;}
    40% {top:-120px;}
    61% {top:-120px;z-index: 2;}
     70% {top:-120px;left:15px;}
     100% {top:-120px;}
    }
 
    @keyframes page2Movement {
    0% {top:0;}
    40% {top:-120px;}
     61% {top:-120px;z-index: 2;}
     70% {top:-120px;left:15px;}
     100% {top:-120px;}
    }

    @-webkit-keyframes page2Movement2Q {
        0% {top:0;}
        40% {top:-120px;}
        61% {top:-120px;z-index: 2;}
         70% {top:-120px;left:15px;}
         100% {top:-120px;}
        }
     
        @keyframes page2Movement2Q {
        0% {top:0;}
        40% {top:-120px;}
         61% {top:-120px;z-index: 2;}
         70% {top:-120px;left:15px;}
         100% {top:-120px;}
        }
 
    /*page3 movement*/
 
    @-webkit-keyframes page3Movement {
    0% {top:0;}
    40% {top:-120px;}
     60% {top:-120px;left:15px;}
      61% {top:-120px;left:15px;z-index: 1;}
     80% {top:-120px;left:110px;}
     100% {top:-120px;left:110px;}
    }
 
    @keyframes page3Movement {
   0% {top:0;}
    40% {top:-120px;}
     60% {top:-120px;left:15px;}
     61% {top:-120px;left:15px;z-index: 1;}
     80% {top:-120px;left:110px;}
     100% {top:-120px;left:110px;}
    }

    @-webkit-keyframes page3Movement3Q {
        0% {top:0;}
        40% {top:-120px;}
         60% {top:-120px;left:15px;}
          61% {top:-120px;left:15px;z-index: 1;}
         80% {top:-120px;left:110px;}
         100% {top:-120px;left:110px;}
        }
     
        @keyframes page3Movement3Q {
       0% {top:0;}
        40% {top:-120px;}
         60% {top:-120px;left:15px;}
         61% {top:-120px;left:15px;z-index: 1;}
         80% {top:-120px;left:110px;}
         100% {top:-120px;left:110px;}
        }
  
    .background {
     width:400px;
     height:220px;
     padding-top:30px;
     margin: 0 auto;
     margin-top: 5%;
     margin-top: 0px !important;
/*      background: -webkit-radial-gradient(#333, rgb(72, 72, 72));
     background: radial-gradient(#333, rgb(72, 72, 72));
     box-shadow: 0 0 3px 2px rgba(0,0,0,0.4); */
     position: relative;
     border-radius: 10px;
    //  opacity: 0.9;
    }
 
    .file {
     width:120px;
     height:110px;
     background:#1460ac;
     position: absolute;
     left:140px;
     top:60px;
     border-radius: 6px;
     cursor: pointer;	
    }
 
    .file::before {
     content:"";
     position: absolute;
     width:120px;
     height:100px;
     background:#1976D2;
     position: absolute;
     left:0px;
     top:10px;
     border-radius: 6px;
     z-index: 5;
     box-shadow: 3px -3px 5px rgba(0,0,0,0.5);
    }
 
    .file::after {
     content:"";
     position: absolute;
     width:60px;
     height:20px;
     background: #1460ac;
     position: absolute;
     top:-8px;
     left:0;
     z-index:1;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
    }
 
    .page {
     width:90px;
     height:100px;
     background:whitesmoke;
     position: absolute;
     z-index: 2;
     left:15px;
     top:0px;
     border-radius: 5px;
     box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
     font-family: helvetica;
     text-align: center;

     a {
      text-decoration: none;
     }
     
    }
    .page:hover {
      h4 {
        color: whitesmoke;
      }
      background-color: #1460ac;
     }
 
    .page1 {
     z-index:3;
    }
 
    h4 {
    color:#333;
    text-align:center;
    margin-top:0;
        }
 
    .page1 {
     -webkit-animation: page1Movement 1.5s linear;
     animation-fill-mode: forwards; 
    }
    .page1Q {
        animation: page1Movement1Q 1.5s linear reverse;
    }
 
    .page2 {
     -webkit-animation: page2Movement 1.5s linear;
     animation-fill-mode: forwards;   
    }
    .page2Q {
     animation: page2Movement2Q 1.5s linear reverse;   
    }
 
    .page3 {
     -webkit-animation: page3Movement 1.5s linear;
     animation-fill-mode: forwards;   
    }
    .page3Q {
     animation: page3Movement3Q 1.5s linear reverse;   
    }
    }

    #webCards {
        .wrapper {
            padding: 40px;
            max-width: 100%;
            margin: 0 auto;
          }
          /* gradient stroke */
          .card-gradient {
            background-image: linear-gradient(to bottom, rgb(255, 255, 255), #CFCFCF);
            padding: 1px;
            border-radius: 4px;
            box-shadow: 3px -3px 5px rgba(0,0,0,0.5);
            transition: box-shadow 300ms linear, background-position 300ms linear;
            min-width: 250px;
            width: 100%;
          }
          .card-inner {
            background-color: white;
            border-radius: 4px;
          }
          /* to animate on hover only top of the card */
          .box-hover {
            position: relative;
          }
          /* to hide border stroke where is folded corner */
          .box-hover::before {
            content: '';
            display: block;
            position: absolute;
            top: -2px;
            right: -2px;
            z-index: 2;
            box-sizing: border-box;
          }
          
          .box-header {
            background-color: #333;
            font-size: large;
            line-height: 25px;
            text-decoration: none;
            padding: 13px 0px 10px 10px;
            border-radius: 4px 4px 0 0;
            z-index: 0;
            overflow: hidden;
            position: relative;
            transition: color 500ms ease;
          }
          /* circle on hover */
          .box-header::before {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            position: absolute;
            top: 49px;
            left: 43px;
            transform: scale(1);
            transition: 400ms ease-in;
            background-image: radial-gradient(circle, #0275d8 1px, transparent 1px, transparent 2px);
            background-position: center;
          }
          
          .box-hover:hover .box-header::before,
          .box.selected .box-header::before {
            transform: scale(300);
          }
          
          .box-label {
            z-index: 1;
            position: relative;
            margin-bottom: 0;
            font-size: medium;
          }
          
          .box-hover:hover .box-label,
          .box.selected .box-label {
            color: #fff;
          }
          /* Checkbox styles */
          
          .label {
            line-height: 25px;
            font-size: 22px;
            background-blend-mode: darken;
            vertical-align: middle;
          }
          
          /* folded corner */
          .triangle {
            width: 48px;
            height: 48px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 4px;
            opacity: 1;
            background-color: #0275d8;
          }
          
          .triangle::before {
            content: '';
            width: 48px;
            height: 48px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 4px;
            background-image: linear-gradient(55.62deg, #00000000 26.5%, #1460ac00 61%);
            z-index: 1;
          }
          
          .triangle::after {
            content: '';
            width: 48px;
            height: 48px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 4px;
            background-image: linear-gradient(45deg, rgb(255, 255, 255) 50%, rgba(0, 0, 255, 0) 50%);
            z-index: 1;
          }
          
          .triangle .shadow {
            display: block;
            transform-origin: left top;
            width: 48px;
            height: 48px;
            position: absolute;
            transform: rotate(-4deg);
            top: 4px;
            left: 1px;
            border-radius: 4px;
            opacity: 0.32;
            filter: blur(2px);
            transition: 300ms ease-in-out;
          }
          
          /**/
          .box .box-body {
            padding: 12px 20px 6px;
          }
          
          .box-body .title {
            font-size: 16px;
            line-height: 19px;
            color: #000;
            opacity: 0.8;
            margin-bottom: 14px;
            letter-spacing: 0;
            font-weight: normal;
          }
          
          .box-body .price {
            text-align: right;
            font-size: 24px;
            line-height: 19px;
            color: #777;
            margin-bottom: 10px;
          }
          
          .box {
            min-width: 300px;
            max-width: 100%;
          }
          .title {
            text-align: justify;
            margin-bottom: 10px !important;
          }
          .col-4 {
            height: 100px;
            margin-bottom: 30px;
          }
    }
    
}